In [1]:
import datetime

In [2]:
import pandas as pd
tweet = pd.read_csv('Tweet.csv', sep = ',')

In [3]:
tweet

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [4]:
datetime.datetime.fromtimestamp(1546272000)

datetime.datetime(2019, 1, 1, 0, 0)

In [5]:
tweet = tweet.query('post_date > 1546272000')
tweet = tweet.query('post_date < 1577808000')

In [6]:
tweet

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
2957494,1079769149511950336,TheBurdetteLawF,1546272001,#estate asset watch - top price x volume stock...,0,0,0
2957495,1079769246983507968,facebookipoflop,1546272024,$tsla big upgrade. Boom.,0,0,0
2957496,1079769310640234496,passthebeano,1546272039,"Or, in Tesla's case, ""Crash and Uncontrollably...",0,0,1
2957497,1079769322262876160,evdefender,1546272042,!! 16 Hours Left !!Is the $500mm #SpaceX raise...,1,1,10
2957498,1079769417234432002,TickwatcherMF,1546272064,Top #money flow today. Free stocks app http://...,0,0,1
...,...,...,...,...,...,...,...
3716926,1212040300153098242,OphirGottlieb,1577807900,$AAPL Apple Is About to Add a Third OLED Supplier,0,0,1
3716927,1212040336115208193,InvincibleBull,1577807909,$GME shorts already at 104% of the outstanding...,0,0,2
3716928,1212040513093808128,followtheh,1577807951,The year in FANG$FB +56%$AMZN +22.5%$NFLX +20....,1,2,6
3716929,1212040665414156289,ManKind770,1577807987,$tsla stoped out,0,0,0
3716930,1212040672976523270,sspencer_smb,1577807989,big shout out to all the $TSLA sellers from th...,7,1,35

In [7]:
tweet = tweet[['post_date','body']]
tweet.columns = ['time','text']

In [8]:
tweet

               time                                               text
2957494  1546272001  #estate asset watch - top price x volume stock...
2957495  1546272024                           $tsla big upgrade. Boom.
2957496  1546272039  Or, in Tesla's case, "Crash and Uncontrollably...
2957497  1546272042  !! 16 Hours Left !!Is the $500mm #SpaceX raise...
2957498  1546272064  Top #money flow today. Free stocks app http://...
...             ...                                                ...
3716926  1577807900  $AAPL Apple Is About to Add a Third OLED Supplier
3716927  1577807909  $GME shorts already at 104% of the outstanding...
3716928  1577807951  The year in FANG$FB +56%$AMZN +22.5%$NFLX +20....
3716929  1577807987                                   $tsla stoped out
3716930  1577807989  big shout out to all the $TSLA sellers from th...

[759437 rows x 2 columns]

In [9]:
tweet['time'] = tweet['time'].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
tweet

,time,text
2957494,2019-01-01 00:00:01,#estate asset watch - top price x volume stock...
2957495,2019-01-01 00:00:24,$tsla big upgrade. Boom.
2957496,2019-01-01 00:00:39,"Or, in Tesla's case, ""Crash and Uncontrollably..."
2957497,2019-01-01 00:00:42,!! 16 Hours Left !!Is the $500mm #SpaceX raise...
2957498,2019-01-01 00:01:04,Top #money flow today. Free stocks app http://...
...,...,...
3716926,2019-12-31 23:58:20,$AAPL Apple Is About to Add a Third OLED Supplier
3716927,2019-12-31 23:58:29,$GME shorts already at 104% of the outstanding...
3716928,2019-12-31 23:59:11,The year in FANG$FB +56%$AMZN +22.5%$NFLX +20....
3716929,2019-12-31 23:59:47,$tsla stoped out
3716930,2019-12-31 23:59:49,big shout out to all the $TSLA sellers from th...

In [11]:
tweet.to_csv('2019.csv')